################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BikeDistributor/v15
/BikeDistributor/bin/Debug
/BikeDistributor/obj/Debug
/BikeDistributor.Test
/__MACOSX
